# Archivos del sistema
.DS_Store

# Cobertura de código
coverage/
*.html

# Dependencias de Node.js
node_modules/

# Archivos de configuración específicos de herramientas
.nyc_output/
*.json

# Reportes y logs
custom-report/
*.log

# Archivos temporales
*.tmp